@import 'main.css';
@import 'modal.css';
@import 'typefield.css';
@import 'wordfield.css';
@import 'datasection.css';
@import 'textfieldsection.css';
@import 'header.css';
@import 'footer.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color--primary: hsl(177, 90%, 92%);
  --bg-color--secondary: hsl(0, 0%, 100%);
  --accent-color: hsl(160, 100%, 18%);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color--primary);
}