@import 'main.css';
@import 'modal.css';
@import 'typefield.css';
@import 'wordfield.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}